<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>registerUser</servlet-name>
  	<display-name>registerUser</display-name>
  	<description></description>
  	<servlet-class>com.kritima.TechBlog.web.registerUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loginUser</servlet-name>
  	<display-name>loginUser</display-name>
  	<description></description>
  	<servlet-class>com.kritima.TechBlog.web.loginUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>logoutUser</servlet-name>
  	<display-name>logoutUser</display-name>
  	<description></description>
  	<servlet-class>com.kritima.TechBlog.web.logoutUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addBlogs</servlet-name>
  	<display-name>addBlogs</display-name>
  	<description></description>
  	<servlet-class>com.kritima.TechBlog.web.addBlogs</servlet-class>
  </servlet>
   <servlet-mapping>
  	<servlet-name>addBlogs</servlet-name>
  	<url-pattern>/addBlog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>registerUser</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loginUser</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logoutUser</servlet-name>
  	<url-pattern>/logoutUser</url-pattern>
  </servlet-mapping>
 </web-app>